h1 {
    font-weight: bold;
    font-size: 20px;
}

.LoginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.field {
    max-width: 300px;
}

.buttonContainer{
    align-items: center;
}

.button{
    margin-left: 10px;
}

h2 {
    font-weight: bold;
}