h1 {
    font-weight: bold;
    font-size: 20px;
}

.LoginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.field {
    max-width: 300px;
}

.buttonContainer{
    align-items: center;
}

.button{
    margin-left: 10px;
}

h2 {
    font-weight: bold;
}

/*Errors*/
.errorMessage,
.errorIcon,
#error {
    color: firebrick;
}

.errorMessage{
    display: flex;
}

.errorIcon{
    padding-right: 5px;
    padding-top: 3px;
}

.passwordContainer {
    position: relative;
}

#passwordEye {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 33px;
    right: 8px;
}

.eye{
    color: 	#D3D3D3;
    height: 18px;
}